header {
  text-align: center;

  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 0;
  color: white;
  font-size: 20px;
  font-family: helvetica;
}
body {
	background-image: url("./Graphics/homepage-background.jpg");
	background-size: cover;
	background-position: center;
}
.concerts-button {
	background: url("./Graphics/homepage-concerts-button.jpg");
	padding: 20px;
	max-width: 300px;
}
}